<div class="container-fluid py-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="pb-5">会員一覧</h2>
      <table class='table table-hover table-inverse'>
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th colspan="2">指名</th>
            <th></th>
            <th>メールアドレス</th>
            <th colspan="2">ステータス</th>
            <th></th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                <%= customer.id %>
              </td>
              <td colspan="2">
                <%= link_to customer.name, admin_customer_path(customer.id), class: "text-dark" %>
              </td>
              <td></td>
              <td>
                <%= customer.email %>
              </td>
              <td colspan="2">
              </td>
              <td></td>
              <td>
                <% if customer.is_deleted = "false" %>
                  <p class="font-weight-bold text-info mb-0">有効</p>
                <% else %>
                  <p class="font-weight-bold text-danger mb-0">退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>