<div class="container-fluid py-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="pb-5">注文履歴一覧</h2>
      <table class='table table-hover table-inverse'>
        <thead class="thead-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= order.created_at %>
              </td>
              <td>
                <%= order.customer.last_name %><%= order.customer.first_name %>
              </td>
              <td>
                <%= order.order_details.count %>
              </td>
              <td>
                <% if order.status == :waiting_payment %>
                  <p class="font-weight-bold text-info mb-0">入金待ち</p>
                <% elsif order.status == :confirmed_payment %>
                  <p class="font-weight-bold text-secondary mb-0">入金確認</p>
                <% elsif order.status == :making %>
                  <p class="font-weight-bold text-secondary mb-0">制作中</p>
                <% elsif order.status == :prepare_shipment %>
                  <p class="font-weight-bold text-secondary mb-0">発送準備</p>
                <% elsif order.status == :shiped %>
                  <p class="font-weight-bold text-secondary mb-0">発送済み</p></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>