/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

main {
  min-height: 550px;
}

.background {
  margin: 0;
  padding: 0;
  height: 400px;
  background-image: image-url('istockphoto-1255426185-170667a.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  opacity: .9;
  color: #fff;
  font-family: 'Great Vibes', cursive;
}

.shop-image {
  margin: 50px auto;
  padding: 0;
  width: 300px;
  height: 200px;
  background-image: image-url('shop.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: 'Great Vibes', cursive;
}

.navbar-nav > li + li {
    padding: 0 25px;
}

ul li:last-child {
    padding-right: 0;
}

.table-height > tbody > tr {
  line-height: 40px;
}

.table-form {
  height: 35px;
}
